/* reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

/* main */
main {
    position: relative;
    background-color: black;
    height: 100vh;
    padding: 80px;
}

.top-right {
    display: flex;
    position: absolute;
    right: 10px;
    top: 10px;
    color: white;
    padding: 5px;
    gap: 5px;
}

.top-right .view {
    
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 5px;
}

.top-right .window {
    background-color: #4A4A4A;
    padding: 5px;
    border-radius: 5px;

}
/* fine main */

/* container */
.container {
    display: flex;
    max-width: 1817px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 6px 0px;
}
/* fine container */

/* webcam */
.webcam {
    height: 150px;
    width: calc(100% / 7 - 6px / 7  * 6);
    position: relative;
}

.webcam img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user {
    background-color: #6b767f5b;
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 5px;
}
/* fine webcam */

/* nav */
nav {
    background-color: #222222;

    /* test */
    height: 78px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 10;
}
/* fine nav */
